body {
  margin: 0;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  font-family: Sans-Serif;
  color: #444;
}

h1 {
  position: absolute;
  width: 100%;
  z-index: 1;
}

label{
  font-size: 20px;
}

#scene-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: skyblue;
}

#controls-wrapper{
  position: absolute;
  z-index: 1;
}

#unassigned-weights-wrapper{
  margin-top: 20px;
}

#unassigned-weights{
  font-size: 20px;
  margin: 0px;
}
